APP_URL=

# ENV
NODE_ENV=development

# Auth
AUTH_JWT_SECRET=
AUTH_VERIFICATION_JWT_SECRET=
AUTH_VERIFICATION_TOKEN_TTL=3600
AUTH_ACCESS_TOKEN_TTL=3600
AUTH_REFRESH_TOKEN_TTL=7

# DB
DB_HOST=
DB_USER=
DB_PASS=
DB_NAME=
DB_PORT=

DB_BACKUP_LOCAL_DIR="./src/storage/DBBackup"
DB_BACKUP_REMOTE=
DB_BACKUP_REMOTE_DIR=

# Send email
MAIL_FROM_NAME=
MAIL_APP_USER=
MAIL_APP_PASSWORD=

# Webscoket
SOKETI_APP_ID=
SOKETI_APP_KEY=
SOKETI_APP_SECRET=

# AI Gateway
OPENAI_BASE_URL=https://ai-gateway.vercel.sh/v1
AI_GATEWAY_API_KEY=